[submodule "Felix"]
	path = Felix
	url = https://github.com/felixweihs/TidyData
[submodule "Lauren"]
	path = Lauren
	url = https://github.com/lnjwilliamson86/Project_Summary_Markdown_Lauren
[submodule "Marina"]
	path = Marina
	url = https://github.com/Marina0729/Rmarkdown-summary-of-hendra-microRNAs
	branch = origin
[submodule "Andreas"]
	path = Andreas
	url = https://github.com/duesi999/Job-skills
[submodule "Franzis"]
	path = Franzis
	url = https://github.com/FranzisGIT/DataSchool_output
[submodule "Gilbert"]
	path = Gilbert
	url = https://github.com/GilbertP68/markdown_project
[submodule "Chloe"]
	path = Chloe
	url = https://github.com/ChloePlet/FOCUS_markdown
[submodule "Yuzi"]
	path = Yuzi
	url = https://github.com/Yuzi-00/my_data
[submodule "Mandy"]
	path = Mandy
	url = https://github.com/Mandy-MY/Hazard_project
[submodule "NatM"]
	path = NatM
	url = https://github.com/natmali/Natalia_FOCUS_Project.git
[submodule "Jasjeet"]
	path = Jasjeet
	url = https://github.com/Jasjeet17/JasjeetMarkdown.git
[submodule "Doug"]
	path = Doug
	url = https://github.com/Bigblu003/Rmarkdown_assignment.git
[submodule "Melania"]
	path = Melania
	url = https://github.com/CropImmunity/Report.git
